{% for end in end_list.object_list %}
<tr>
    <th> {{ end }}</th>

    <th> {{ end.get_tipo_end_display }} </th>
    <!--  actions -->
    <th>
        <button class="btn btn-warning js-open-end-form-update"
                data-url="{% url  'servigraf:end_update' end.cliente.id end.id %}">
            <i class="glyphicon glyphicon-pencil"></i>
        </button>
    </th>
    <th>
        <button class="btn btn-danger js-open-end-form-delete"
        data-url="{% url  'servigraf:end_delete' end.cliente.id end.id %}" >
            <i class="glyphicon glyphicon-trash"></i>
        </button>
    </th>
</tr>
{% endfor %}