<form action="{% url 'servigraf:end_update' end_form.instance.cliente.id end_form.instance.id %}"
      method="post" class="js-update-end-form">
    {% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" aria-label="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
        </button>

        <h4 class="modal-title"> Alterar Endereço </h4>
    </div>

    <div class="modal-body">

        {% include 'end/end_form.html' %}

    </div>


    <div class="modal-footer">

        <button type="submit" class="btn btn-warning">
            Alterar
        </button>

        <button type="button" class="btn btn-default form_cleaned">
            Limpar
        </button>

        <button type="button" class="btn btn-default" data-dismiss="modal">
            Fechar
        </button>

    </div>
</form>