{% load widget_tweaks %}


<!-- cliente-->

<div class="row">
    <div class="col-md-8">
        <div class="form-group {% if end_form.cliente.errors %} has-error {% endif %}" >
            <label for="end_form.cliente.id_for_label ">{{ end_form.cliente.label  }}</label>
            {% render_field end_form.cliente  class='form-control' disabled='True'%}
            {% for error in end_form.cliente.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <!-- cep -->
    <div class="col-md-4">
        <label for="end_form.cep.id_for_label ">{{ end_form.cep.label  }}</label>
        <div class="input-group {% if end_form.cep.errors %} has-error {% endif %}" >
            {% render_field end_form.cep class="form-control" %}

            <span class="input-group-btn">
                <button type="button" class="btn btn-primary">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>

            {% for error in end_form.cep.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div> <!-- form group -->
    </div>
</div>

<!-- logradouro-->
<div class="row">

    <div class="col-md-2">

        <div class="form-group {% if end_form.logradouro.errors %} has-error {% endif %}" >
            <label for="end_form.logradouro.id_for_label ">{{ end_form.logradouro.label  }}</label>
            {% render_field end_form.logradouro  class='form-control' %}
            {% for error in end_form.logradouro.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>

    </div>

    <!-- rua -->
    <div class="col-md-8">

        <div class="form-group {% if end_form.endereco.errors %} has-error {% endif %}" >
            <label for="end_form.endereco.id_for_label ">{{ end_form.endereco.label  }}</label>
            {% render_field end_form.endereco  class='form-control' %}
            {% for error in end_form.endereco.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <!-- numero -->
    <div class="col-md-2">

        <div class="form-group {% if end_form.numero.errors %} has-error {% endif %}" >
            <label for="end_form.numero.id_for_label ">{{ end_form.numero.label  }}</label>
            {% render_field end_form.numero  class='form-control' %}
            {% for error in end_form.numero.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

</div>

<div class="row ">
    <div class="col-md-8">
        <div class="form-group {% if end_form.complemento.errors %} has-error {% endif %}" >
            <label for="end_form.complemento.id_for_label ">{{ end_form.complemento.label  }}</label>
            {% render_field end_form.complemento  class='form-control' %}
            {% for error in end_form.complemento.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group {% if end_form.uf.errors %} has-error {% endif %}" >
            <label for="end_form.uf.id_for_label ">{{ end_form.uf.label  }}</label>
            {% render_field end_form.uf  class='form-control' %}
            {% for error in end_form.uf.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-4">

        <div class="form-group {% if end_form.cidade.errors %} has-error {% endif %}" >
            <label for="end_form.cidade.id_for_label ">{{ end_form.cidade.label  }}</label>
            {% render_field end_form.cidade  class='form-control' %}
            {% for error in end_form.cidade.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>

    </div>


    <div class="col-md-4">
        <div class="form-group {% if end_form.bairro.errors %} has-error {% endif %}" >
            <label for="end_form.bairro.id_for_label ">{{ end_form.bairro.label  }}</label>
            {% render_field end_form.bairro  class='form-control' %}
            {% for error in end_form.bairro.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group {% if end_form.tipo_end.errors %} has-error {% endif %}" >
            <label for="end_form.bairro.id_for_label ">{{ end_form.tipo_end.label  }}</label>
            {% render_field end_form.tipo_end  class='form-control' %}
            {% for error in end_form.tipo_end.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="form-group {% if end_form.observacao.errors %} has-error {% endif %}" >
            <label for="end_form.observacao.id_for_label ">{{ end_form.observacao.label  }}</label>
            {% render_field end_form.observacao  class='form-control' rows="3"%}
            {% for error in end_form.observacao.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
</div>