{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<h3 class="page-header">Esqueceu sua senha ?</h3>

<p class="text-muted">
  Sera enviado um email para você contendo um link de acesso para que possa fazer o <br />
  reset da senha o tempo par que você acesse o link é 1 dia então, não deixe para depois
  oque você pode fazer hoje !
</p>
<br />
<br />
<form action="" method="post" class="">
  {% csrf_token %}

  <div class="form-group">
    <div class="col-md-1">
      <label for="{{ form.email.id_for_label}}">{{ form.email.label }}</label>
    </div>
    <div class="col-md-5">
      {% render_field form.email class="form-control" placeholder='digite seu email de cadastro.'%}
    </div>
  </div>

  <div class="form-group ">
    <button type="submit" class="btn btn-primary"> Enviar </button>
  </div>

</form>


{% endblock %}