{% autoescape off %}

Parece que o  você esqueceu a seua senha de acesso.
mas sem problemas essa conta é do usuario: {{ user.get_username }} ServiGraf Sistemas,

clique no link a baixo para inserir um novo password:
http://{{ domain }}{% url 'account:password_confirm' uidb64=uid token=token %}

se o link a baixo não funcionar copie a url e cole em uma nova aba do seu navegador
ou entre em contato com suporte atraves do e-mail:
oliveiravicente.net@gmail.com

Obrigado,
ServiGraf Sistemas Suporte.
{% endautoescape %}