{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

{% if validlink %}
<h3 class="page-header">Alteração de Senha</h3>
<form method="post" action="" class="">
    {% csrf_token %}



    <div class="col-md-offset-2">
        <div class="col-md-8">

    <div class="form-group {% if form.new_password1.errors %} has-error {% endif %}">
        <label for="form.new_password1.id_for_label ">{{ form.new_password1.label}}</label>
        {% render_field form.new_password1 class="form-control" %}
        {% for error in form.new_password1.errors %}
            <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group {% if form.new_password1.errors %} has-error {% endif %}">
        <label for="form.new_password2.id_for_label ">{{ form.new_password2.label}}</label>
        {% render_field form.new_password2 class="form-control" %}
        {% for error in form.new_password2.errors %}
            <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>


    <button type="submit" class="btn btn-primary btn-block">Change password</button>
        </div>
    </div>
</form>
{% else %}
<p>
    The password reset link was invalid, possibly because it has already been used.
    Please request a new password reset.
</p>
{% endif %}
{% endblock %}