{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div id="content-main">
    <form method="post">
        {%csrf_token %}

        <div>
            <div class="col-md-offset-3 col-md-6">

                {% if form.errors %}
                <p class="has-error text-center">
                    {% if form.errors.items|length == 1 %}
                    <span class="help-block">
                    "Por favor verifique os erros a baixo."
                </span>
                    {% else %}
                    <span class="help-block">
                    "Por favor verifique os erros a baixo."
                </span>
                    {% endif %}
                </p>
                {% endif %}

                <br />

                <p class="text-info text-center">
                <span class="help-block">
                "Digite seu antiga senha para validação e digite duas vezes o novo password para que possamos
                    fazer a validação da sua nova senha."
                </span>
                </p>

                <br />
                <br />
                <br />
                <div class="row">

                    <div class="form-group {% if form.old_password.errors %} has-error {% endif %}">
                        {{ form.old_password.label_tag }}
                        {% render_field form.old_password class='form-control'%}
                        {% for error in form.old_password.errors %}
                        <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group {% if form.new_password1.errors %} has-error {% endif %}">
                        {{ form.new_password1.label_tag }}
                        {% render_field form.new_password1 class='form-control'%}
                        {% for error in form.new_password1.errors %}
                        <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group {% if form.new_password2.errors %} has-error {% endif %}">
                        {{ form.new_password2.label_tag }}
                        {% render_field form.new_password2 class='form-control'%}
                        {% for error in form.new_password2.errors %}
                        <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">
                        Alterar Password
                    </button>
                </div>
            </div>


            <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
        </div>
    </form>
</div>

{% endblock %}
