<form action="{% url 'servigraf:contact_delete' client.id contact.id   %}"
      method="post" class="js-contact-form-delete">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Desativação de Contato de Cliente </h4>
        <button type="button" class="close" aria-label="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
        </button>
    </div> <!-- div header -->
    <div class="modal-body">

        <div class="message">
            <p class="lead">
                Você realmente gostaria de desativar o Contato: <br />
                <strong> {{ contact }} </strong> <br />
            </p>

            <p class="lead">
                Referente ao Cliente: <br />
                ID: <strong> {{client.id }}</strong> <br />
                None Fantasia: <strong>{{ client }}</strong>
            </p>
        </div>

    </div> <!-- div body -->
    <div class="modal-footer">
        <button type="submit" class="btn btn-danger">
            Desativar
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">
            Fechar
        </button>
    </div><!-- div footer -->
</form>
