{% for contato in contatos.object_list  %}
<tr>
    <th>
        <a class="link js-open-contact-form" href="#"
           data-url="{% url 'servigraf:contact_update' form_client.instance.id contato.id %}">
            {{ contato|upper }}
        </a>
    </th>

    <!--  actions -->

    <!--botao editar -->
    <th >
        <button class="btn btn-warning js-open-contact-form" type="button"
                data-url="{% url 'servigraf:contact_update' form_client.instance.id contato.id %}">
            <i class="glyphicon glyphicon-pencil"></i>
        </button>
    </th>
    <!-- botao desativar -->
    <th >
        <button class="btn btn-danger js-open-contact-form" type="button"
        data-url="{% url 'servigraf:contact_delete' form_client.instance.id contato.id %}">
            <i class="glyphicon glyphicon-trash"></i>
        </button>
    </th>

</tr>
{% endfor %}
