[run]
source = core, servigraf, account
omit =
    servigraf/wsgi.py
    core/tests/*.py
    core/migrations/*.py
    core/apps.py
    account/tests/*.py
    account/migrations/*.py
    account/apps.py
