{% for product in produto_list %}
<tr>
    <th>{{ product.id }}</th>
    <th><a class="link" href="">{{ product.nome| upper}}</a></th>
    <th>{{ product.quantidade }}</th>
    <th >R$ {{ product.valor }}</th>
    <th>{{ product.get_tipo_display|upper }}</th>
    <th>
        {% if product.grupo  %}
        {{ product.grupo.nome|upper }}
        {%endif%}</th>

    <th>
        <button class="btn btn-warning js-open-form-update"
                data-url="{% url 'catalogo:product_update' product.id %}">
            <i class="glyphicon glyphicon-pencil"></i>
        </button>
    </th>

    <th>
        <button class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
        </button>
    </th>

    {% empty %}
<tr>
    <th class="bg-warning text-center " colspan="8">
        Não há resultados para essa pesquisa
    </th>
</tr>

</tr>
{% endfor %}
