{% extends "base.html" %}
{% load static %}

{% block custom_css %}
  <link href="https://cdn.datatables.net/v/bs/jq-3.3.1/dt-1.10.18/datatables.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="page-header">
  <h1>Servigraf: <small>tickets</small></h1>
</div>

<div class="container">
    <div class="col-md-12">
        <button type="button" name="add_ticket" class="btn btn-primary">
            Novo <i class="glyphicon glyphicon-plus"></i>
        </button>
    </div>

    <!--  date picker -->
    <div class="col-md-6"  style="margin-top:2em;">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <input id="min-date" type="text" class="form-control date-range-filter" data-date-format="yyyy-mm-dd" placeholder="">
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <input id="max-date" type="text" class="form-control date-range-filter" data-date-format="yyyy-mm-dd" placeholder="">
                </div>
            </div>
        </div>
    </div>
    <!-- end date picker -->
    <!-- search input  -->
    <div class="col-md-6" style="margin-top:2em;">
            <div class="form-group">
                <div class="input-group">
                    <input id="table-filter" type="text" class="form-control"
                    placeholder="Buscar por nome numero ">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-search"></i>
                    </span>
                </div>
            </div>
    </div>
    <!--  end search bar -->

    <div class="col-md-12" style="margin-top:2em;">

        <table id="data-table" class="table table-striped" style="width:100%">
          <thead>
            <tr>
              <th width="5%">#</th>
              <th width="45%">CLIENTE</th>
              {% if request.user.profile.type != 0 %}
              <th width="10%"> Grupo </th>
              {% endif %}
              <th width="10%" class="text-center">STATUS</th>
              <th width="10%" class="text-center">ENTREGA</th>
            </tr>
          </thead>
          <tbody>
              {% with type_user=request.user.profile.type %}
                  {% for object in object_list %}
                    <tr>
                      <td>{{ object.pk }}</td>
                      <td>
                        <a href="#">{{ object.cliente }}</a>
                      </td>
                      {% if type_user != 0 %}
                      <th>
                          {{ object.cliente.cgroups.all.first }}
                      </th>
                      {% endif %}
                      <td class="text-center">
                          {{ object.ticket_trails.last.get_status_display }}
                      </td>
                      <td class="text-center">
                          {{ object.data_entrega|date:"Y-m-d" }}
                      </td>
                    </tr>
                  {% endfor %}
              {% endwith %}
          </tbody>
        </table>
    </div>

</div>
<!-- end container -->
{% endblock %}

{% block java_script_app %}
<script src="{% static 'js/moment.min.js' %}" charset="utf-8"></script>
<script src="https://cdn.datatables.net/v/bs/jq-3.3.1/dt-1.10.18/datatables.min.js" charset="utf-8"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">

$('.date-range-filter').each(function() {
  $(this).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1930:2099",
      // dateFormat: 'yy-mm-dd',
      dateFormat: 'yy-mm-dd',
      dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
      dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
      dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
      monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
      monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
      nextText: 'Próximo',
      prevText: 'Anterior'
  });
});

// Set up your table
table = $('#data-table').DataTable({
  "info": false,
  "pageLength": 10,
  "language": {
    "infoEmpty": "Nenhum resultado foi encontrado.",
    "zeroRecords": "Nenhum resultado foi encontrado.",
    "emptyTable": "Nada para ser listado."
  }
});

// Extend dataTables search
$.fn.dataTable.ext.search.push(
  function(settings, data, dataIndex) {
    var min = $('#min-date').val();
    var max = $('#max-date').val();
    var createdAt = data[3] || 0; // Our date column in the table


    if ( (min == "" || max == "") ||
        (moment(createdAt).isSameOrAfter(min) && moment(createdAt).isSameOrBefore(max))){

      console.log(moment(createdAt))
      return true;
    }
    return false;
  }
);

// Re-draw the table when the a date range filter changes
$('.date-range-filter').change(function() {
  table.draw();
});

$('#table-filter').keyup(function(){
      table.search($(this).val()).draw() ;
})

// bar search  is hide now
$('#data-table_filter').hide();
$('#data-table_length').hide();
</script>
{% endblock %}
