{% extends 'base.html' %}

{% block content %}

<div class="row">

    <div class="col-md-6">
        <h3 class="page-header clear_header"> Cliente </h3>

        {% include 'clientes/client_form.html' %}

    </div>


    <!--Painel Contato -->
    <div class="col-md-6">
        <div class="row">
            <h3 class="page-header clear_header"> Contato </h3>
            <div style="margin-bottom:4em;">
                <form action="" method="GET">
                    <button class=" pull-right btn btn-primary">
                        ADD CONTATO
                    </button>
                </form>
            </div> <!-- contato div botao -->

            <table id="contact-table" class="table table-striped table-hover table-condensed">

                <thead class="bg-primary">
                <tr>
                    <th width="90%">Contato</th>
                    <th >EDIT</th>
                    <th >DELETE</th>
                </tr>
                </thead>

                <tbody>
                {% for contato in contatos %}
                <tr>
                    <th><a class="link" href="#">{{ contato }}</a></th>

                    <!--  actions -->

                    <!--botao editar -->
                    <th >
                        <button class="btn btn-warning">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </button>
                    </th>
                    <!-- botao desativar -->
                    <th >
                        <button class="btn btn-danger">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </th>

                </tr>
                {% endfor %}


                </tbody>

                <tfoot>

                </tfoot>
            </table>

        </div><!--  row contato -->

        <!--Painel Endereço -->
        <div class="row">
            <h3 class="page-header clear_header"> Endereço </h3>
            <div style="margin-bottom:4em;">
                <form action="" method="GET">

                    <button class=" pull-right btn btn-primary">
                        ADD CONTATO
                    </button>
                </form>
            </div><!-- endereço div botao -->

            <table id="address-table" class="table table-striped table-hover table-condensed">
                <thead class="bg-primary">
                <tr>
                    <th>#</th>
                    <th width="70%">Endereco</th>
                    <th width="20%">TIPO</th>
                    <th>EDIT</th>
                    <th>DELETE</th>
                </tr>
                </thead>

                <tbody>

                <th></th>
                <th></th>
                <th></th>

                <!--  actions -->
                <th>
                    <button class="btn btn-warning">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </button>
                </th>
                <th>
                    <button class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>
                </th>



                </tbody>

                <tfoot>

                </tfoot>
            </table>

        </div>


    </div>
</div>

<div id="modal"   class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">



        </div><!-- content -->
    </div>
</div>

</div>
{% endblock %}