{% extends 'base.html' %}
{% load i18n %}

{% block  title %} Servigraf Clientes {% endblock %}

{% block content %}

<div class="row">
    <h1 class="page-header"
        style="margin-top:0px; padding:0px;">
            Servigraf <small>clientes</small>
    </h1>
</div>
<div class="message">
{% include 'messages.html' %}
</div>
<div class="form-group">
    <button type="button" class="btn btn-primary js-open-form-cliente"
            data-url="{% url 'servigraf:save_client' %}">

        NOVO <span class="glyphicon glyphicon-plus"></span>
    </button>
</div>
<form action="{% url 'servigraf:clientes' %}" method="get">
    {% csrf_token %}

    <div class="form-group">
        <div class="input-group col-md-8">
            <input type="text" class="form-control" name="search"
                   placeholder="Buscar por , Razão Social (Nome), Nome Fantasia(Sobre Nome) ou
                   Documento. ">

            <div class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </div>
    </div>
</form>




<table id="cliente-table" class="table table-striped table-hover table-condensed">
    <thead>
    <tr>
        <th width="5%">#</th>
        <th width="60%">Nome Fantazia</th>
        <th width="5%">TIPO</th>
        <th width="">DOCUMENTO</th>
        <th width="">MENSAL</th>
        <th width="5%">EDIT</th>
        <th width="5%">DELETE</th>
    </tr>
    </thead>

    <tbody>

    {% include 'clientes/client_table.html'%}


    </tbody>

    <tfoot>

    </tfoot>
</table>
{% include 'pagination.html' with object_list=client_list %}
<div id="cliente-modal"   class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">



        </div><!-- content -->
    </div>
</div>

<script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
        crossorigin="anonymous">

</script>

{% endblock %}


{% block java_script_app %}

{% endblock %}
