{% extends 'base.html' %}

{% block content %}

<div class="messages">
    {% include 'messages.html' %}
</div>

<div class="row">

    <div class="col-md-6">
        <h3 class="page-header clear_header"> Cliente </h3>
        <div id="client-form">
            {% include 'clientes/client_form.html' %}
        </div>

    </div>


    <!--Painel Contato -->
    <div class="col-md-6">
        <div class="row">
            <h3 class="page-header clear_header"> Contato </h3>
            <div style="margin-bottom:4em;">
                <button type="button" class="pull-right btn btn-primary js-open-contact-form"
                        data-url="{% url 'servigraf:contact_save' form_client.instance.id %}">
                    ADD CONTATO
                </button>
            </div> <!-- contato div botao -->

            <table id="contact-table" class="table table-striped table-hover table-condensed">

                <thead class="bg-primary">
                <tr>
                    <th width="90%">Contato</th>
                    <th >EDIT</th>
                    <th >DELETE</th>
                </tr>
                </thead>
                <tbody>
                  {% include 'contact/contact_table.html' %}
                </tbody>
                <tfoot>
                </tfoot>
            </table>

            <div class="pagination_contact">
                {% include 'pagination.html' with object_list=contact_list %}
            </div>

        </div><!--  row contato -->

        <!--Painel Endereço -->
        <div class="row">
            <h3 class="page-header clear_header"> Endereço </h3>
            <div style="margin-bottom:4em;">
                <button type="button"class=" pull-right btn btn-primary js-open-end-form"
                        data-url="{% url 'servigraf:end_save' form_client.instance.id %}" >
                    ADD ENDEREÇO
                </button>
            </div><!-- endereço div botao -->

            <table id="address-table" class="table table-striped table-hover table-condensed">
                <thead class="bg-primary">
                <tr>
                    <th width="70%">Endereco</th>
                    <th width="20%">TIPO</th>
                    <th>EDIT</th>
                    <th>DELETE</th>
                </tr>
                </thead>

                <tbody>

                {% include 'end/end_table.html' %}

                </tbody>

                <tfoot>

                </tfoot>
            </table>

            <div class="pagination_end">
                {% include 'pagination.html' with object_list=end_list %}
            </div>

        </div>


    </div>
</div>

<div id="modal"   class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            {% include 'contact/contact_save.html' %}

        </div><!-- content -->
    </div>
</div>

</div>
{% endblock %}
