{% for project_service in project_services_list %}
    <li class="list-group-item upper">
        <a  class="project-update-service" href="#"
            data-price='{{ project_service.valor }}'
            data-desc-service='{{ project_service.service }}'
            data-service="{{ project_service.service.pk }}"
            data-url ="{% url 'projects:project_service_update' project_service.service.pk %}"/>
            <span>{{ project_service |truncatechars:60 }}</span>
        </a>
        <a  id="{{ project_service.service.pk }}" style="padding: 0px 10px;"
            data-url="{% url 'projects:project_delete_service' project_service.service.pk %}"
            data-text='{{ project_service.service }}'
            class="pull-right js-deactive-service-project" href="#">

            <i class="glyphicon glyphicon-trash text-danger"
               title="desativar cliente">
            </i>
        </a>
    </li>

<!-- Modal -->
<div id="modal-service-deactivate-project" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Deletar Serviço</h4>
      </div>

        <div class="modal-body">
            <p class="text-danger">Tem certeza que deseja remover esse serviço ?</p>
        <p class="text-info">Serviço só pode se removido se não houver lançamento  relacionado.</p>
            <form class='js-project-delete-service' method="post" action=''>
                {% csrf_token %}
                <div style="max-width:400px">
                    <div class="js-project-service-to-delete"
                        style="border: 1px dashed black;padding:1em;background-color:#ffffcc;">
                        <p> </p>
                    </div>
                </div>

                <div style="margin-top:1em">
                    <input type="hidden" name="service"  value="" />
                    <input type="hidden" name="project"  value="{{ project.pk }}" />
                    <button type="submit" class="btn btn-info">
                    Confirmar ação.
                </button>
            </div>
            </form>
      </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div id="modal-project-update-service" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <form class='js-projectP-update-service' method="post" action='.'>
            {% csrf_token %}
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Alterar o valor do Serviço</h4>
                </div>

                <div class="modal-body">

                    <div style="margin-top:1em">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <input type="text" name="service-desc" class="form-control" disabled value="" />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">R$</span>
                                        <input type="text" class="form-control" name="price" step="0.01">
                                    </div>
                                </div>
                            </div>

                            <input type="hidden" name="service"  value="" />
                            <input type="hidden" name="project"  value="{{ project.pk }}" />
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">
                        Confirmar ação.
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </form>
    </div>
  </div>
{% endfor %}
