{% extends 'base.html' %}

{% block content %}
<div class="row">
    <h1 class="page-header upper text-info"
        style="margin-top:0px; padding:0px;">
        {{ view.project_name }}
    </h1>

</div>

<div class="row">
    <div class="message">
        {% include 'messages.html' %}
    </div>


    <div>
        <div class="col-md-6">

            <!-- clientes -->

            <div class="row">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button id="add-service-to-project"
                                    data-url="{% url 'projects:procject_create_service' view.project_name.id %}" 
                                    class="btn  btn-primary" title="ADD">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>
                        </div><!--  input group btn-->

                        <input type="text" class="form-control search_services_list"
                               placeholder="Filtrar por nome do Serviço Produto">

                        <div class="input-group-btn">
                            <button class="btn  btn-primary" style="">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div><!-- input group btn -->
                    </div><!-- input group -->
                </div><!-- from group -->
            </div><!--  row -->

            <!-- services -->

            <div class="row">
                <div id="list-services" class="list-group">

                    <a href="#" class="list-group-item active">
                        Serviços
                    </a>

                    <div class="js-list-client-project">
                            {% include 'project/_list_service_project.html' %}
                    </div>
    

                </div>
            </div><!--  row list group item -->
        </div><!--  col md 6 -->
    </div><!-- row -->
    

    <div class="col-md-1"></div>
    {% comment %} cliente  {% endcomment %}
    <div>
        <div class="col-md-5">
            <div class="row">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn  btn-primary js-project-create-client"
                                    title="ADD" type="button"
                                    data-toggle="modal"
                                    data-url="{% url 'projects:project_create_client' view.project_name.id %}">

                                <i class="glyphicon glyphicon-plus"></i>
                            </button>
                        </div><!--  input group btn-->

                        <input type="text" class="form-control search_client_list"
                               placeholder="Filtrar por nome de Cliente">

                        <div class="input-group-btn">
                            <button class="btn  btn-primary">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div><!-- input group btn -->
                    </div><!-- input group -->
                </div><!-- from group -->
            </div><!--  row -->

            <div class="row">
                <div id="list-client" class="list-group filter">

                    <a href="#" class="list-group-item active">
                        Clientes
                    </a>
                    <div class="js-list-client-project">
                        {% include 'project/_list_client_project.html' %}
                    </div>

                </div>
            </div><!--  row list group item -->
        </div><!--  col md 6 -->
    </div><!-- row -->
  
    <input id="autocomplete-cliente-project-url" type="hidden"
           data-url="{% url 'projects:project_autocomplete_client' %}" />
  
           <div id="modal-projeto-cliente" class="modal fade">
               <div class="modal-dialog" role="dialog">
            </div>
        </div>
        
    <input id="autocomplete-service-project-url" type="hidden"
            data-url="{% url 'projects:project_autocomplete_service' %}" />

    <div class="modal fade" role="dialog" id="modal-add-service-to-project">
        <div class="modal-dialog">     
        
        </div>
       </div>
    

</div>

{% endblock %}
