{% extends 'base.html' %}

{% block content %}
<div class="row">
    <h1 class="page-header upper text-info"
        style="margin-top:0px; padding:0px;">
        {{ view.project_name }}
    </h1>

</div>

<div class="row">

<div>
    <div class="col-md-6">

        <!-- clientes -->

        <div class="row">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button class="btn  btn-primary" title="ADD">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
                    </div><!--  input group btn-->

                    <input type="text" class="form-control search_services_list"
                           placeholder="Filtrar por nome do Serviço Produto">

                    <div class="input-group-btn">
                        <button class="btn  btn-primary" style="">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div><!-- input group btn -->
                </div><!-- input group -->
            </div><!-- from group -->
        </div><!--  row -->

        <!-- services -->

        <div class="row">
            <div id="list-services" class="list-group">

                <a href="#" class="list-group-item active">
                    Serviços
                </a>

                {% for service in view.services %}
                <li class="list-group-item upper">
                    {{ service }}
                    <a  class="pull-right" href="#">
                        <i class="glyphicon glyphicon-pencil text-warning"
                        title="Editar Serviço"></i>
                    </a>
                    <a style="padding: 0px 10px;" class="pull-right" href="#">
                        <i class="glyphicon glyphicon-trash text-danger"
                           title="Deletar Serviço"></i>
                    </a>
                </li>
                {% endfor %}

            </div>
        </div><!--  row list group item -->
    </div><!--  col md 6 -->
</div><!-- row -->



<div class="col-md-1"></div>



<div>
    <div class="col-md-5">

        <div class="row">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button class="btn  btn-primary js-project-create-client"
                                title="ADD" type="button"
                                data-toggle="modal"
                                data-url="{% url 'projects:project_create' view.project_name.id %}">

                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
                    </div><!--  input group btn-->

                    <input type="text" class="form-control search_client_list"
                           placeholder="Filtrar por nome de Cliente">

                    <div class="input-group-btn">
                        <button class="btn  btn-primary">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div><!-- input group btn -->
                </div><!-- input group -->
            </div><!-- from group -->
        </div><!--  row -->

        <div class="row">
            <div id="list-client" class="list-group filter">

                <a href="#" class="list-group-item active">
                    Clientes
                </a>

                {% for project in project_client_list %}
                <li class="list-group-item upper">
                    {{ project |truncatechars:40 }}

                    <a  class="pull-right" href="#">
                        <i class="glyphicon glyphicon-pencil text-warning"
                        title="Editar CLiente"></i>
                    </a>

                    <a style="padding: 0px 10px;" class="pull-right" href="#">
                        <i class="glyphicon glyphicon-trash text-danger"
                        title="Deletar Cliente"></i>
                    </a>

                    <a style="padding: 0px 10px;" class="pull-right" href="#">
                        <i class="glyphicon glyphicon-plus text-success"
                        title="ADD Serviços Executados "></i>
                    </a>
                </li>
                {% endfor %}

            </div>
        </div><!--  row list group item -->
    </div><!--  col md 6 -->
</div><!-- row -->
    <input id="autocomplete-url" type="hidden"
           data-url="{% url 'projects:project_autocomplete_client' %}">



    <div id="modal-projeto-cliente" class="modal fade">
        <div class="modal-dialog" role="dialog">


        </div>
    </div>


</div>

{% endblock %}
