{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="col-md-6 col-md-offset-3">
    <div class="row">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-btn">
                    <button id='js-project-btn'class="btn btn-primary js-project-create-client"
                            type="button" title="ADD">
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>
                </div><!--  input group btn-->

                <input type="text" class="form-control search_services_list"
                       placeholder="Filtrar por nome do Projeto">

                <div class="input-group-btn">
                    <button class="btn  btn-primary" style="">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div><!-- input group btn -->
            </div><!-- input group -->
        </div><!-- from group -->
    </div><!--  row -->

    <div class="row">
        <div id="list-services" class="list-group">

            <a href="#" class="list-group-item active">
                Projetos
            </a>

            {% for object in object_list %}
            <li class="list-group-item upper">
                <a href="{{ object.get_absolute_url }}">
                    {{ object }}
                </a>

                <a  class="pull-right" href="#">
                    <i class="glyphicon glyphicon-pencil text-warning"
                       title="Editar Serviço"></i>
                </a>
                <a style="padding: 0px 10px;" class="pull-right" href="#">
                    <i class="glyphicon glyphicon-trash text-danger"
                       title="Deletar Serviço"></i>
                </a>
            </li>
            {% endfor %}

        </div>
    </div><!--  row list group item -->
</div><!--  col md 6 -->

<div id="modal-projeto" class="modal fade">
    <div class="modal-dialog" role="dialog">


    </div>
</div>

{% endblock %}

