<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <div class=" pull-left">
            <a href="{% url 'home' %}" class="brand">
              <img src="http://placehold.it/90x50" class="img-thumbnail" alt="" >
            </a>
          </div>
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true"
                       aria-expanded="false">Cadastros <span class="caret"></span></a>

                    <ul class="dropdown-menu">
                        <li><a href="{% url 'servigraf:clientes' %}">
                            Clientes</a>
                        </li>

                        <li><a href="{% url 'catalogo:product_list' %}">
                            Produtos</a>
                        </li>
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li class="dropdown-header">Nav header</li>-->
                        <!--<li><a href="#">Separated link</a></li>-->
                        <!--<li><a href="#">One more separated link</a></li>-->

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true"
                       aria-expanded="false">Projetos <span class="caret"></span></a>

                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'projects:project_list'%}" class="upper">
                            GERENCIAR PROJETO
                            </a>
                        </li>
                    {% if project_list %}
                        {% for project in project_list %}
                        <li role="separator" class="divider">
                        <li>
                            <a href="{{ project.get_absolute_url }}" class="upper">
                           {{ project.name }}
                            </a>
                        </li>
                        {% endfor %}
                    {% endif %}
                    </ul>
                </li>
                {% endif %}

                <!--<li class="{% if request.resolver_match.url_name == 'clientes'  %} active {% endif %}">-->
                <!--<a href="{% url 'servigraf:clientes' %}">Clientes </a>-->
                <!--</li>-->

                <li class="{% if request.resolver_match.url_name == 'contact'  %} active {% endif %}">
                    <a href="#">Contato</a>
                </li>



                <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"-->
                <!--aria-expanded="false">Dropdown <span class="caret"></span></a>-->

                <!--<ul class="dropdown-menu">-->
                <!--<li><a href="#">Action</a></li>-->
                <!--<li><a href="#">Another action</a></li>-->
                <!--<li><a href="#">Something else here</a></li>-->
                <!--<li role="separator" class="divider"></li>-->
                <!--<li class="dropdown-header">Nav header</li>-->
                <!--<li><a href="#">Separated link</a></li>-->
                <!--<li><a href="#">One more separated link</a></li>-->

                <!--</ul>-->
                <!--</li>-->
            </ul>

            <ul class="nav navbar-nav navbar-right">


                {% if not request.user.is_authenticated %}

                <li>
                    <!--<a role="button" class="btn" href="#" data-toggle="modal" data-target="#login-modal">Login</a>-->
                    <a role="button" class="btn" href="{% url 'account:login' %}">LOGIN</a>
                </li>
                {% else%}
                <li>


                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">

                        {% if request.user.get_full_name == '' %}
                        {{ request.user.username|upper }}
                        {% else %}
                        {{ request.user.get_full_name|upper }}
                        {% endif %}

                        <span class="caret"></span></a>

                    <ul class="dropdown-menu">
                        {% if user.is_superuser %}
                        <li><a href="{% url 'admin:index' %}">Admin</a></li>
                        {% endif %}
                        <li><a href="#">Perfil</a></li>
                        <li><a href="{% url 'account:change_password' %}">Alterar Senha</a></li>
                        <li role="separator" class="divider"></li>
                        <!--<li class="dropdown-header">Nav header</li>-->
                        <li><a href="{% url 'account:logout'%}">Logout </a></li>

                    </ul>
                </li>


                </li>
                {% endif %}
                <!--<li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>-->
                <!--<li><a href="../navbar-fixed-top/">Fixed top</a></li>-->
            </ul>

        </div><!--/.nav-collapse -->
    </div>
</nav>
